.main--caseStudy{
    background-color: $c-bgCS;
    display: flex;
    flex-flow: column;
    gap: 20px;
    padding: 0 20px;

    @media(min-width: 800px){
        padding: 0 20px 0 80px;
    }
}

.underline{
    text-decoration: underline;
    text-decoration-color: $c-hoverCS;
    text-decoration-thickness: 4px;
}

[id]{
    scroll-margin-top: 60px;
}

.caseStudy, .projet, .design, .code, .rendu{
    h1, h2, h3, h4{
        @include caseStudyTitle;
    }
    h2{
        margin-bottom: 60px;
    }
    h3{
        margin-bottom: 30px;
    }
    p{
        @include caseStudyP;
        margin-bottom: 20px;
    }
    &__bold{
        @include caseStudyP;
        font-weight: 700;
        margin: 40px 0 80px;
    }
    &__caption{
        background-color: $c-captionCS;
        padding: 40px 20px;
        margin: 80px -20px;
        h5{
            color: $c-bgCS;
            @media (min-width: 800px){
                font-size: 35px
            }
        }
    }
    a{
        text-decoration-color: $c-hoverCS;
        @include caseStudyP;
    }
    img{
        width: 100%;
        height: auto;
    }
    @media (min-width: 800px){
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto;
        gap: 20px;
    }
}


.caseStudy{
    &__entry{
        min-height: 100vh;
        display: flex;
        flex-flow: column;
        justify-content  : center;
        @media (min-width: 800px){
            grid-column: 2 / span 4;
            grid-row: 1;
        }
    }
    
    &__title{
        font-size: clamp(3.75rem, 1.2917rem + 13.1111vw, 11.125rem);

        span{
            display: block;
        }

        :last-child{
            @media(min-width: 400px){
                margin-left: 1em;
            }
        }
    }
    h4, h5{
        font-family: "Lakes", sans-serif;
    }

    &__text{
        @media (min-width: 800px){
            display: contents;
            :nth-child(1){grid-column: 1 / span 3; grid-row: 2;}     
            :nth-child(2){grid-column: 3 / span 3; grid-row: 3;}     
            :nth-child(3){grid-column: 3 / span 3; grid-row: 4;}     
        }
    }

    &__caption{
        @media (min-width: 800px){
            grid-column: 1 / span 5;
            grid-row: 5;
        }
    }
}

.projet{
    &__title{
        @media (min-width: 800px){
            grid-column: 1 / span 3;
            grid-row: 1;
        } 
    }
    &__subtitle{
        @media (min-width: 800px){
            &--one{grid-column: 2 / span 3; grid-row: 2;}
            &--two{grid-column: 1 / span 3; grid-row: 6;}
            &--three{grid-column: 1 / span 3; grid-row: 11;} 
        } 
    }
    &__text{
        @media (min-width: 800px){
            display: contents;
            &--one{
                :nth-child(1){grid-column: 1 / span 3; grid-row: 3;}
                :nth-child(2){grid-column: 1 / span 3; grid-row: 4;}
                :nth-child(3){grid-column: 1 / span 2; grid-row: 5;}
            }
            &--two{
                p{
                    grid-column: 1 / span 3; grid-row: 7;
                }
            }
            &--three{
                p{
                    grid-column: 1 / span 3; grid-row: 9;
                }
            }
            &--four{
                :nth-child(1){grid-column: 1 / span 3; grid-row: 12;}
                :nth-child(2){grid-column: 1 / span 2; grid-row: 13;}
                :nth-child(3){grid-column: 3 / span 3; grid-row: 14;}
            }
        }
    }
    &__bold{
        @media (min-width: 800px){
            &--one{grid-column: 3 / span 3; grid-row: 5; margin-top: 0;} 
            &--two{grid-column: 2 / span 3; grid-row: 10;} 
            &--three{grid-column: 2 / span 3; grid-row: 15;} 
        } 
    }
    &__caption{
        @media (min-width: 800px){
            grid-column: 1 / span 5;
            grid-row: 8;
        } 
    }
}

.design{
    &__title{
        @media (min-width: 800px){
            grid-column: 1 / span 3;
            grid-row: 1;
        }
    }

    &__subtitle{
        @media (min-width: 800px){
            &--one{ grid-column: 2 / span 3; grid-row: 3; }
            &--two{ grid-column: 2 / span 3; grid-row: 7; }
        }
    }

    &__text {
        @media (min-width: 800px) {
            display: contents;
            &--one{
                p{ grid-column: 1 / span 3; grid-row: 2; }
            }
            &--two{
                p{ grid-column: 1 / span 2; grid-row: 4; }
            }
            &--three{
                p{ grid-column: 1 / span 2; grid-row: 5; }
            }
            &--four{
                p{ grid-column: 1 / span 2; grid-row: 6; }
            }
            &--five{
                :nth-child(1){ grid-column: 1 / span 3; grid-row: 8; }
                :nth-child(2){ grid-column: 4 / span 2; grid-row: 8; }
            }
            &--six{
                :nth-child(1){ grid-column: 1 / span 2; grid-row: 10; }
                :nth-child(2){ grid-column: 1 / span 2; grid-row: 11; }
            }
        }
    }

    &__img{
        @media (min-width: 800px){
            &--one{ grid-column: 3 / span 3; grid-row: 4; }
            &--two{ grid-column: 3 / span 3; grid-row: 5; }
            &--three{ grid-column: 3 / span 3; grid-row: 6; }
            &--four{ grid-column: 2 / span 3; grid-row: 9; }
            &--five{ grid-column: 3 / span 3; grid-row: 10 / span 2; }
        }
    }
}

.code{
    &__title{
        @media (min-width: 800px){
            grid-column: 1 / span 3;
            grid-row: 1;
        }
    }

    &__text{
        @media (min-width: 800px){
            display: contents;
            :nth-child(1){ grid-column: 1 / span 3; grid-row: 2; }
            :nth-child(2){ grid-column: 4 / span 2; grid-row: 2; }
        }
    }
}

.design, .code{
    h2{
        margin-bottom: 40px;
    }
    h3{
        margin: 60px 0 30px;
    }
    img{
        margin: 80px 0;
        @media(min-width: 800px){
            margin: auto;
            margin-bottom: 40px;
            align-self: center;
            justify-self: center;
        }
        @media(min-width: 1200px){
            display: block;
            max-width: 50%;
        }
    }
}

.rendu{
    margin: 120px 0;

    &__link{
        position: relative;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        width: fit-content;
        cursor: pointer;
        @include underlineHoverBase(4px, -2px, $c-hoverCS);

        border: 2px solid $c-txtCS;
        padding: 10px 20px;
        
        &:hover{
            @include underlineHoverTrigger();
        }
        
        p{ 
            margin: 0;
            font-size: 24px; //29 à 35
            @include caseStudyTitle;
            @media(min-width: 700px){
                font-size: clamp(1.75rem, calc(1.536rem + 1.339vw), 2.50rem); //35 à 50
            }
        }
        
        svg{
            width: 32px;
            height: auto;
            transform: rotate(-45deg);
            
            path{ 
                stroke-width: 2px;
                stroke: $c-txtCS; 
            }

            @media(min-width: 700px){
                display: block;
                width: 64px;
            }
        }

        @media(min-width: 700px){
            border: none;
            padding: 0;
        }
        @media(min-width: 800px){
            grid-column: 1/ span 3;
            grid-row: 1;
        }
    }
}
