.footer{
    border-top: 1px solid $c-txt;

    &__stroke{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px 20px 40px;

        @media(min-width: 800px){
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(3, auto);
            gap: 100px 20px;
            padding: 40px;
            align-items: start;
        }

        @media(min-width: 1200px){
            margin: 0 auto;
            width: 100%;
            max-width: 1200px;
        }
    }

    &__link, &__pages, &__contact{
        display: flex;
        flex-direction: column;
        gap: 10px;

        font-family: "Supermolot", sans-serif;
        font-weight: 400;
        font-size: clamp(1.00rem, calc(0.943rem + 0.357vw), 1.20rem);

        a{
            text-decoration: none;
            color: $c-txt;
            position: relative;
            align-self: flex-start;

            @include underlineHover(2px, 0px, $c-txt);
        }
    }

    &__list{
        margin: 0;
        padding: 0;

        @media(min-width: 800px){
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            grid-column: 3 / span 3;
            grid-row: 1;
        }
    }

    &__name{
        font-size: clamp(2.50rem, calc(1.197rem + 8.684vw), 7.45rem);
        
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 5px;

        :first-child{transform: scaleX(-1);}     
        
        @media(min-width: 800px){
            grid-column: 3 / span 3;
            grid-row: 2 / span 2;
        }
    }

    &__caption{
        font-size: 17px;

        @media(min-width: 800px){
            grid-column: 1 / span 2;
            grid-row: 1;
            align-self: start;
        }
    }

    &__copy{
        font-size: 14px;
        font-family: "Supermolot", sans-serif;
        font-weight: 400;
        text-decoration: none;
        color: $c-txt;
        position: relative;
        width: max-content;

        @include underlineHover(1px, 0px, $c-txt);

        @media(min-width: 800px){
            grid-column: 1;
            grid-row: 3;
        }
    }
}