.dr{
    display: flex;
    flex-direction: column;
    padding: 40px 20px 80px;
    gap: 40px;

    @media(min-width: 800px){
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto;
        gap: 40px 60px;
        padding: 100px 40px; //CHANGE
    }

    @media(min-width: 1200px){
        padding: 100px 0;
        margin: 0 auto;
        width: 100%;
        max-width: 1200px;
    }

    &__intro{
        @media(min-width: 800px){
            grid-column: 1 / span 2;
        }
    }

    &__title{
        display: block;
        span{
            display: block;
        }

        &--one{  
            @media(min-width: 800px){
                grid-column: 1 / span 2;
                grid-row: 2 ;
                align-self: start;
            }
        }

        &--two{  
            @media(min-width: 800px){
                grid-column: 1 / span 2;
                grid-row: 3 ;
                margin-bottom: -10px;
            }
        }
    }

    &__subtitle{
        padding-bottom: 60px;

        @media(min-width: 800px){
            grid-column: 3 / span 3;
            grid-row: 3;
            align-self: end;
            padding-bottom: 0;
        }
    }

    &__text{
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media(min-width: 800px){
            &:nth-of-type(1){
                grid-column: 3 / span 3;
                grid-row: 2;
            }
            &:nth-of-type(2){
                align-self: center;
                grid-column: 1 / span 3;
                grid-row: 4;
                margin-top: 40px;
            }
        }
    }

    &__img{
        width: 60%;
        align-self: center;
        aspect-ratio: 3 / 4;
        object-fit: cover;
        display: block;

        @media(min-width: 800px){
            width: auto;
            max-height: 400px;
            justify-self: end;
            grid-column: 4 / span 2;
            grid-row: 4;
            margin-top: 40px;
        }
    }

    &__caption{
        align-self:  center;
        padding: 40px 20px;
        background-color: rgba($c-alt, 0.25);
        border-left: 4px solid $c-alt;
        margin: 40px 0;

        @media(min-width: 800px){
            grid-column: 1 / span 5;
            grid-row: 5;
            margin: 80px 0;
        }
    }

    &__data{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        &--one, &--two, &--three{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }

        @media(min-width: 800px){
            grid-column: 1 / span 5;
            grid-row: 6;
            flex-direction: row;
            justify-content: space-between;
            margin: 40px 0;
        }
    }

    &__label{
        text-transform: uppercase;
    }

    &__contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 40px 0 160px;

        @media(min-width: 800px){
            grid-column: 1 / span 3;
            grid-row: 7;
            flex-direction: row;
            padding: 40px 0;
        }
    }

    &__link{
        align-self: center;
        padding: 10px 20px;
        border: 2px solid $c-txt;

        a{
            text-decoration: none;
            color: $c-txt;
            position: relative;
            
            @include underlineHoverBase(4px, -2px, $c-txt);

            &:hover{
                @include underlineHoverTrigger;
            }
        }

        @media(min-width: 800px){
            grid-column: 4 / span 2;
            grid-row: 7;
            justify-self: end;
            padding: 40px 0;

            border: none;
        }
    }
}