html{
  scroll-behavior: smooth;
  font-size: $size-text;
  height: 3000px; //TEST 0 ENLEVER
}

body{
  margin: 0;
  background-color: $c-bg;
  overflow-x: hidden;
  width: 100%;
}

h1{
  font-family: "LutzHeadline", sans-serif;
  font-size: clamp(3rem, 1.1429rem + 5.7143vw, 6.2rem);
  text-align: left;
  color: $c-txt;
}

h2{
  font-family: "LutzHeadline", sans-serif;
  font-size: clamp(2.05rem, calc(1.607rem + 2.768vw), 3.60rem);
  text-align: left;
  color: $c-txt;
}

h3{
  font-family: "LutzHeadline", sans-serif;
  font-size: clamp(1.75rem, calc(1.536rem + 1.339vw), 2.50rem);
  text-align: left;
  color: $c-txt;
}

h4{
  font-family: "Supermolot", sans-serif;
  font-size: clamp(1.45rem, calc(1.364rem + 0.536vw), 1.75rem);
  text-align: left;
  color: $c-txt;
}

p{
  font-family: 'Supermolot', sans-serif;
  font-weight: 400;
  font-size: clamp(1.00rem, calc(0.943rem + 0.357vw), 1.20rem);
  max-width: 60ch;
  text-align: left;
  color: $c-txt;
}
