@import 'utils/variables';
@import 'components/anim';
@import 'components/type';
@import 'components/header';
@import 'components/homePage';
@import 'components/footer';
@import 'components/casPage';
@import 'components/enquete';
@import 'components/histoire';


@font-face{
  font-family: "Sora";
  src: url("../assets/fonts/Sora-Variable.woff2") format("woff2");
  font-weight: 100 900;
}

@font-face{
  font-family: "Supermolot";
  src: url("../assets/fonts/TT_Supermolot_Neue_VF_Trial.woff2") format("woff2");
  font-weight: 100 900;
}

@font-face{
  font-family: "Grandola";
  src: url("../assets/fonts/Grandola-Regular.woff2") format("woff2");
}

@font-face{
  font-family: "Lakes";
  src: url("../assets/fonts/TT_Lakes_Neue_Trial_Variable.ttf") format("truetype");
}

